.cta {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: clamp(1.2, 1.1rem + 1vw, 1.5);
    font-weight: 800;

}