body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    background: rgba(255, 255, 255, 0.95);
}

.navbar {
    max-width: 100%;
    padding: 0.5rem 0;
    padding-right: 1rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }

.nav_mobile {
    position: fixed;
    inset: 0;
    background: rgba(56, 56, 56, 0.76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    text-decoration: none;
}
.toogle_menu {
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.toogle_menu span {
    height: 4px;
    width: 100%;
    background: rgb(0, 0, 0);
    border-radius: 2px;
    transition: 0.3s;
}
  
  /* animacja X */
.toogle_menu.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.toogle_menu.active span:nth-child(2) {
    opacity: 0;
}
.toogle_menu.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
  
.nav_mobile.active {
    transform: translateX(0);
}

.nav_desktop {
    display: none;
}

.logo img {
    display: block;
    height: 60px;
    width: auto;
}

.article-spacing--sm {padding: 1rem 0.5rem;}
.article-spacing--md {padding: 2rem 0.5rem;}

.media-box {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.media-box img {
    display: block;
    width: 100%;
}

@media (min-width: 1024px) {
    .toogle_menu {
        display: none;
    }

    .nav_mobile {
        display: none;
    }

    .nav_desktop {
        display: flex;
        gap: 20px;
        flex-direction: row;
        width: 100%;
    }
    
}